<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>9778f0</string>
		<key>tag_name</key>
		<string>室外全景视频</string>
		<key>section_count</key>
		<string>个精选</string>
		<key>body</key>
		<array>
			<dict>
				<key>locationURLStr</key>
				<string>budalagong.mp4</string>
				<key>Infotext</key>
				<string>布达拉宫</string>
				<key>imageURL</key>
				<string>budalagong.png</string>
			</dict>
			<dict>
				<key>locationURLStr</key>
				<string>plane.mp4</string>
				<key>Infotext</key>
				<string>俄罗斯勇士飞行表演队</string>
				<key>imageURL</key>
				<string>plane.png</string>
			</dict>
			<dict>
				<key>locationURLStr</key>
				<string>Underwater.mp4</string>
				<key>Infotext</key>
				<string>Underwater in Stuart Cove’s</string>
				<key>imageURL</key>
				<string>Underwater.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>36d4a2</string>
		<key>tag_name</key>
		<string>本地全景视频</string>
		<key>section_count</key>
		<string>个精选</string>
		<key>body</key>
		<array/>
	</dict>
</array>
</plist>
