<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadPath</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/plane.mp4</string>
		<key>name</key>
		<string>plane.mp4</string>
		<key>imageUrlStr</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/plane.jpeg</string>
	</dict>
	<dict>
		<key>downloadPath</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/HELP.mp4</string>
		<key>name</key>
		<string>HELP.mp4</string>
		<key>imageUrlStr</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/HELP.jpeg</string>
	</dict>
	<dict>
		<key>downloadPath</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/Underwater.mp4</string>
		<key>name</key>
		<string>Underwater.mp4</string>
		<key>imageUrlStr</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/Underwater.jpeg</string>
	</dict>
	<dict>
		<key>downloadPath</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/plane2k.mp4</string>
		<key>name</key>
		<string>plane2k.mp4</string>
		<key>imageUrlStr</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/plane2k.jpeg</string>
	</dict>
	<dict>
		<key>downloadPath</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/gopro2k.mp4</string>
		<key>name</key>
		<string>gopro2k.mp4</string>
		<key>imageUrlStr</key>
		<string>http://7xl99o.com2.z0.glb.qiniucdn.com/gopro2k.jpeg</string>
	</dict>
</array>
</plist>
